/*===== INICIO CONFIGURAÇÕES BÁSICAS =====*/
body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(230, 243, 255);
    box-sizing: border-box;
}

/*===== FIM CONFIGURAÇÕES BÁSICAS =====*/

/*===== INICIO HEADER E INPUT DA CALCULADORA =====*/

header {
    display: flex;
    justify-content: center;
}

.input-calculadora {
    font-size: 3em !important;
    width: 95%;
    height: 100px;
    margin: 10px 0;
    border-radius: 5px;
}
 
/*===== FIM HEADER E INPUT DA CALCULADORA  =====*/

/*===== INICIO CONTAINER PRINCIPAL =====*/

.container {
    margin: auto;
    border: 10px double rgb(255, 255, 255);
    border-radius: 15px;
    background-color: rgb(34, 34, 34);
    width: 700px;
    height: 700px;
    color: aliceblue;
}

/*===== FIM CONTAINER PRINCIPAL =====*/

/*===== INICIO CONTAINER BOTÕES DA CALCULADORA =====*/

            /* PRECISO VER SOBRE GRID "DEIXAR COM 5 LINHAS E 4 COLUNAS" */

.container-botoes {
    display: grid;
    grid-template-columns: 3fr 1fr;
    justify-items: center;
}

article {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    column-gap: 20px;
}

.last-article {
    display: grid;
    grid: 
     "ponto zero zero" 2fr
    ;
}

.ponto {
    grid-area: ponto;
}

.zero {
    grid-area: zero;
}

aside section {
    width: 150px;
    
}

aside {
    display: grid;
    grid: 
     "subtracao" 1fr
     "adicao"  2fr
     "adicao" 
     "igual" 1.7fr
     "igual"
    ;
}

.subtracao {
    grid-area: subtracao;
}

.adicao {
    grid-area: adicao;
}

.igual {
    grid-area: igual;
}

/*===== FIM CONTAINER BOTÕES DA CALCULADORA =====*/


/*===== INICIO BOTÕES DA CALCULADORA =====*/

section {
    font-size: 2.1em;
    line-height: 95px;
    text-align: center;
    border: 1px solid rgb(255, 255, 255);
    margin: 5px 0;
}

aside section:nth-child(1) {
    margin-bottom: 10px;
}
aside section:nth-child(2) {
    margin-bottom: 10px;
}

/*===== FIM BOTÕES DA CALCULADORA =====*/



